.backgrimg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.jumbotron {
     /* text-align: center; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;    
}
h1{
    height: 25px;
    padding-top: 0px;
}
.container{
    background-color: rgb(109, 122, 196);
}
.panel-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(64, 64, 109);
    color: aqua;
    width: 100%;
}

}
#stones{
    height: 30px;
    width:25px;


}
ul{
    background-color: aqua;
    color: blue;
}
h2{
    text-align-last: center;
    background-color: blue;
    color:aqua;
    height: 50px;
    width: 300px;
}
h3{
    text-align-last: center;
    background-color: blue;
    color:aqua;
    height: 50px;
    width: 300px;
}
 


