.container{
    margin-top: 10px;
}
.backgrimg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.container{
    background-color: rgb(109, 122, 196);
}
.panel-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(16, 16, 36);
    color: aqua;
    width: 100%;
}

ul{
    background-color: rgb(136, 148, 218);
    color: rgb(19, 19, 56);
}
#pink{
    height: 200px;
    width:200px;
}
#purple{
    height: 200px;
    width:200px;
}

h2{
    text-align-last: center;
    background-color: blue;
    color:aqua;
    height: 50px;
    width: 300px;
}
h3{
    text-align-last: center;
    background-color: blue;
    color:aqua;
    height: 50px;
    width: 300px;
}
 


